<!-- Modal Structure -->
<div id="modalFilm" class="modal">
  <div class="modal-content">
    <h4>Film hinzuf&uuml;gen</h4>
    <div id='modalFilmContent'></div>
  </div>
  <div class="modal-footer">
    <a id='btnModalSave' href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Speichern</a>
  </div>
</div>
